{% extends 'template.html.twig' %}

{% block title %}edit a Facture{% endblock %}

{% block content %}
<container class="mt-5 mb-5">
    <h1>Edit Facture</h1>

    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# Form to edit the facture #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update Facture</button>
    {{ form_end(form) }}

    {# Link to go back to the facture list #}
    <a href="{{ path('app_client_view', {'id': facture.client.id}) }}" class="btn btn-secondary">Back to Facture List</a>
</container>
{% endblock %}