{% extends 'template.html.twig' %}

{% block title %}Edit a Client!{% endblock %}

{% block content %}
<container class="mt-5 mb-5">

    <h1>Edit Client</h1>

    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# Form to edit the client #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update Client</button>
    {{ form_end(form) }}

    {# Link to go back to the client list #}
    <a href="{{ path('app_client') }}" class="btn btn-secondary">Back to Client List</a>
</container>
{% endblock %}
